@import url("");

@page {
    size: 8.5in 11in;
    margin: 0;
}

:root{
    --right_column_color: #DDDDDD;
    --right_column_color_2: #EEEEEE;
    --footer_color: #B5B5B5;
    --column_subtext: #555555;
    --column_title: #272727;
    --left_subtitle: #303030;
    --vertical_bullet_chain: #AAAAAA;
}

html, body {
    font-family: 'Saira Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    height: 11in;
    width: 8.5in;
}

.resume_body{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.decor_line {
    position: absolute;
    top: 0;
    left: .56in;
    height: 100%;
    width: 5px;
    z-index: -5;
    background-image: linear-gradient(90deg, var(--right_column_color) 10%, transparent 50%);
    border-left: var(--right_column_color) 5px double;
}
.resume_title{
    display: block;
    padding: 0;
    padding-top: .5in;
}
.transition_top {
    height: .2in;
    background-image: linear-gradient(0deg,white, #FFFFFF00);
}
.transition_bottom {
    height: .15in;
    background-image: linear-gradient(white, #FFFFFF00);
}
.resume_title_text{
    font-size: 28pt;
    font-weight: bolder;
    letter-spacing: 1.5px;
    padding-left: 10px;
    background-color: white;
}
.personal_description{
    font-size: 11pt;
    padding-left: 30px;
    line-height: 14pt;
    color: var(--left_subtitle);
    background-color: white;
}
.left_column{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .25in;
    padding-right: .15in;
}
.left_contents{
    padding-left: .5in;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.left_titles{
    font-size: 16pt;
    font-weight: bold;
    line-height: 18pt;
}
.left_subtitle{
    font-size: 12pt;
    line-height: 14pt;
    font-weight: bold;
}
.education_date{
    font-style: italic;
    padding-right: 40px;
}
.school{
    display: flex;
    justify-content: space-between;
}
.double_column{
    display: flex;
    justify-content: space-around;
}

.class_column{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 11pt;
    line-height: 14pt;
}
.project_list{
    position: relative;
}
.left_item{
    display: block;
    padding-left: 2px;
}
.dark_list_chain{
    background-image: linear-gradient(#FFFFFF00, var(--vertical_bullet_chain) 10% 90%, #FFFFFF00);
    height: 100%;
    width: 1.7px;
    position: absolute;
    left: -1px;
    z-index: -2;
}
.light_list_chain{
    background-image: linear-gradient(#FFFFFF00, var(--right_column_color) 10% 90%, #FFFFFF00);
    height: 100%;
    width: 1.7px;
    position: absolute;
    left: 2px;
    z-index: -2;
}
.job_projects{
    line-height: 12pt;
}
.job_block{
    position: relative;
    padding-left: 8px;
}
.flex_start{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.job_co{
    font-weight: bold;
}
.job_title{
}
.job_location{
    color: var(--left_subtitle);
    line-height: 12pt;
}
.job_description{
    color: var(--left_subtitle);
    line-height: 14pt;
    size: 11pt;
}
.project_descriptoin{
    display: list-item;
    list-style: none;
    background-image: url(bullet_point_right.svg);
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-size: 9px;
    margin: 5pt 0;
    padding-left: 12px;
    line-height: 16pt;
}
.descriptive_bullet{
    display: list-item;
    list-style: circle;
    list-style-position: inside;
    font-size: 10pt;
    margin: 0 0;
    padding-left: 12px;
    line-height: 13pt;
}
.key_projects{
    padding-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    line-height: 14pt;
}
.right_column{
    background-image: linear-gradient(180deg, var(--right_column_color) 60%, var(--right_column_color_2) 100%);
    border-left: 1.2px solid var(--right_column_color);
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 180px;
}
.right_bullets{
    padding-left: 10%;
    display: block;
}
.right_bullet_title{
    font-weight: bold;
    color: var(--column_title);
    font-size: 14pt;
}
.right_bullet_text{
    color: var(--column_subtext);
    font-size: 12pt;
}
.right_bullet_subtitle{
    font-size: 12pt;
    
    color: var(--column_subtext);
    font-weight: bold;
}
a{
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: inherit; 
}
.logo_img{
    height: 12pt;
    filter: grayscale(100%) contrast(4);
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
li{
    display: list-item;
    list-style: none;
    padding: 0px 10px;
    background-image: url(bullet_point_right.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 9px;
}
p {
    display: list-item;
    list-style: none;
    background-image: url(bullet_point_right.svg);
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-size: 9px;
    margin: 5pt 0;
    padding-left: 12px;
    line-height: 16pt;
}
footer{
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 0;
    right: 0;
    height: 30px;
    background-image: linear-gradient(358deg, #FFFFFF00 -50%, var(--footer_color) 40%);
    
    display: flex;
}
pp{
    color: #FFFFFF00;
}
.footer_container{
    margin: auto;
    font-size: 11pt;
}